@font-face { 
	font-family: gothic;
	font-style: normal;
	font-weight: normal;
	src:url('gothic.ttf') format('truetype');
}
@font-face { 
	font-family: gothic;
	font-style: normal;
	font-weight: bold;
	src:url('gothicb.ttf') format('truetype');
}

body {
	background-color: #0DF4FF;
}

* {
	color: #000;
	font-family: gothic;
}
a, a:active, a:visited {
	color: #000;
}

.dot {
	width: 1px;
	height: 1px;
}

.centered {
	position: absolute;
	left: 50%;
	top: 0px;
	overflow: visible;
}

#mainContainer {
	width: 900px;
	position: absolute;
	left: -450px;
	top: 0px;
	background-color: #00FF9F;	
}

#contentContainer {
	padding: 10px;
}

#header h1 {
	font-size: 40px;
	font-weight: bold;
	padding-left: 10px;
}

#header #logout {
	position: absolute;
	right: 15px;
	top: 40px;
	text-align: right;
}

#listing {
	background-color: #0CE838;
	width: 100%;
	padding: 1px 0px;
}

#listing div {
	margin: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #C3F500;
}

#listing div.link:hover {
	color: #222;
	background-color: #0CE838;
}

#listing div div {
	font-size: 11px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.error {
	padding: 5px;
	color: red;
	border: red 1px solid;
}
