<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Diary – {{ diary.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}"/>
    <script src="{{ url_for('static',filename='script.js') }}"></script>
</head>
<body>
    <p>{{ diary.name }}:</p>
    <form action="{{ url_for('addentry',name=diary.name) }}" method="POST">
        <input type="textarea" name="text" autofocus>
        <button type="submit">Submit</button>
    </form>
    <div>
    {% for e in entries %}
        <p>
            {{ e.date }}:
            <p>
                {{ e.text }}
            </p>
        </p>
    {% endfor %}
    </div>
</body>
</html>
