<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Diary</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}"/>
    <script src="{{ url_for('static',filename='script.js') }}"></script>
</head>
<body>
    {% if error != '' %}
        <div style="border: red 1px solid; color: red;">{{ error }}</div>
    {% endif %}
    <p>
        <a href="{{ url_for('logout') }}">Logout</a>
        <form method="post" action="{{ url_for('newdiary')}}">
            New diary: <input type="text" name="name" placeholder="name of diary"><input type="submit">
        </form>
    </p>
    <ul>
        {% for d in diaries %}
        <li>
            <a href="{{ url_for('diary',name=d.name) }}">{{ d.name }}</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
