<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Diary – Login</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}"/>
	<script src="{{ url_for('static',filename='script.js') }}"></script>
</head>
<body>
	<div class="dot centered">
		<div id="mainContainer">
			<div id="header">
				<h1><a href="http://git.benary.org/Diary">Diary</a></h1>
			</div>
			<div id="contentContainer">
				<form method="POST">
					<input type="text" name="user" placeholder="Username"/><br/>
					<input type="password" name="pass" placeholder="Password"/><br/>
					<input type="submit" value="Login">
				</form>
			</div>
		<div>
	<div>
</body>
</html>
